<a href="https://colab.research.google.com/github/roshinichavalaa/Development-of-Interactive-Cyber-Threat-Visualization-Dashboard/blob/main/SQLipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3
import pandas as pd

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("Connected to in-memory SQLite database.")

Connected to in-memory SQLite database.

# ðŸ“Œ Introduction to SQL

## What is SQL?
**SQL (Structured Query Language)** is a standard language used to **store, retrieve, manage, and manipulate data** in a **relational database**.

---

## ðŸ”‘ Key Points
- SQL is used with databases like **MySQL, PostgreSQL, Oracle, SQL Server**
- Data is stored in **tables (rows and columns)**
- SQL commands are **not case-sensitive**

---

## ðŸ”§ Common Uses of SQL
- Retrieve data â†’ `SELECT`
- Insert data â†’ `INSERT`
- Update data â†’ `UPDATE`
- Delete data â†’ `DELETE`
- Create tables/databases â†’ `CREATE`
- Control access â†’ `GRANT`, `REVOKE`

---

In [ ]:
SELECT name, marks
FROM students
WHERE marks > 60;

# ðŸ“˜ Table Creation in SQL

## Definition
**Table creation** in SQL is done using the `CREATE TABLE` statement.  
It is used to **define the structure of a table**, including **column names, data types, and constraints** such as **PRIMARY KEY and FOREIGN KEY**.

---

In [8]:
cursor.execute("DROP TABLE IF EXISTS employees;")
cursor.execute("DROP TABLE IF EXISTS departments;")

cursor.execute("""
CREATE TABLE departments (
    dept_id INT PRIMARY KEY,
    dept_name VARCHAR(50) NOT NULL
);
""")

cursor.execute("""
CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(50),
    salary DECIMAL(10,2),
    dept_id INT,
    join_date DATE,
    FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
);
""")
conn.commit()
print("Tables 'departments' and 'employees' created successfully.")

Tables 'departments' and 'employees' created successfully.

# ðŸ“˜ INSERT INTO in SQL

## Definition
The **INSERT INTO** statement is used to **add new records (rows)** into a table in a database.

---

In [9]:
cursor.execute("""
INSERT INTO departments VALUES
(1, 'HR'),
(2, 'IT'),
(3, 'Finance');
""")

cursor.execute("""
INSERT INTO employees VALUES
(101, 'Sai', 50000, 2, '2023-01-10'),
(102, 'Kiran', 60000, 2, '2022-05-20'),
(103, 'Anu', 45000, 1, '2023-03-15'),
(104, 'Ravi', 70000, 3, '2021-11-01'),
(105, 'Meena', 55000, 1, '2022-08-25');
""")

conn.commit()
print("Data inserted into 'departments' and 'employees' tables.")

Data inserted into 'departments' and 'employees' tables.

# ðŸ“˜ SELECT Statement in SQL

## Definition
The **SELECT** statement is used to **retrieve data from one or more tables** in a relational database.

---

In [11]:
# Select all data from the 'employees' table
select_all_sql = "SELECT * FROM employees;"
cursor.execute(select_all_sql)

# Fetch all results
results = cursor.fetchall()

# Get column names for DataFrame
column_names = [description[0] for description in cursor.description]

df_employees = pd.DataFrame(results, columns=column_names)
print("All employees:")
display(df_employees)


# Select specific columns and filter by condition
select_filtered_sql = "SELECT emp_name, salary FROM employees WHERE salary > 50000 ORDER BY salary DESC;"
cursor.execute(select_filtered_sql)

results_filtered = cursor.fetchall()
column_names_filtered = [description[0] for description in cursor.description]

df_filtered = pd.DataFrame(results_filtered, columns=column_names_filtered)
print("\nEmployees with salary greater than 50000, ordered by salary:")
display(df_filtered)

All employees:

   emp_id emp_name  salary  dept_id   join_date
0     101      Sai   50000        2  2023-01-10
1     102    Kiran   60000        2  2022-05-20
2     103      Anu   45000        1  2023-03-15
3     104     Ravi   70000        3  2021-11-01
4     105    Meena   55000        1  2022-08-25

Employees with salary greater than 50000, ordered by salary:

  emp_name  salary
0     Ravi   70000
1    Kiran   60000
2    Meena   55000

# ðŸ“˜ UPDATE Statement in SQL

## Definition
The **UPDATE** statement is used to **modify existing records** in a table based on a specified condition.

---

In [13]:
# Update the salary of 'Sai'
update_sql = "UPDATE employees SET salary = 52000 WHERE emp_name = 'Sai';"
cursor.execute(update_sql)
conn.commit()

print("Salary for Sai updated.\n")

# Verify the update
cursor.execute("SELECT * FROM employees WHERE emp_name = 'Sai';")
updated_employee = cursor.fetchone()

# Displaying the updated data
column_names = [description[0] for description in cursor.description]
df_updated_employee = pd.DataFrame([updated_employee], columns=column_names)
print("Sai's updated record:")
display(df_updated_employee)

Salary for Sai updated.

Sai's updated record:

   emp_id emp_name  salary  dept_id   join_date
0     101      Sai   52000        2  2023-01-10

# ðŸ“˜ DELETE FROM Statement in SQL

## Definition
The **DELETE FROM** statement is used to **remove one or more records (rows)** from a table based on a specified condition.

---

In [15]:
# Delete an employee named 'Meena'
delete_sql = "DELETE FROM employees WHERE emp_name = 'Meena';"
cursor.execute(delete_sql)
conn.commit()

print("Meena's record deleted.\n")

# Verify the deletion by selecting all remaining employees
cursor.execute("SELECT * FROM employees;")
remaining_employees = cursor.fetchall()

column_names = [description[0] for description in cursor.description]
df_remaining = pd.DataFrame(remaining_employees, columns=column_names)
print("Remaining employees:")
display(df_remaining)

# Close the connection
conn.close()
print("\nDatabase connection closed.")

Meena's record deleted.

Remaining employees:

   emp_id emp_name  salary  dept_id   join_date
0     101      Sai   52000        2  2023-01-10
1     102    Kiran   60000        2  2022-05-20
2     103      Anu   45000        1  2023-03-15
3     104     Ravi   70000        3  2021-11-01

Database connection closed.